################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserManagement_Backend/.vs/UserManagement_Backend/v17/.suo
/UserManagement_Backend/UserManagement_ApplicationService/obj/Debug/net6.0/UserManagement_ApplicationService.csproj.AssemblyReference.cache
/UserManagement_Backend/UserManagement_Backend/bin/Debug/net6.0/UserManagement_Backend.dll
/UserManagement_Backend/UserManagement_Backend/bin/Debug/net6.0/UserManagement_Backend.pdb
/UserManagement_Backend/UserManagement_Backend/obj/Debug/net6.0/ref/UserManagement_Backend.dll
/UserManagement_Backend/UserManagement_Backend/obj/Debug/net6.0/UserManagement_Backend.dll
/UserManagement_Backend/UserManagement_Backend/bin/Debug/net6.0/UserManagement_Backend.staticwebassets.runtime.json
/UserManagement_Backend/UserManagement_Backend/obj/Debug/net6.0/refint/UserManagement_Backend.dll
/UserManagement_Backend/UserManagement_Backend/obj/Debug/net6.0/UserManagement_Backend.pdb
/UserManagement_Backend/UserManagement_Backend/obj/Debug/net6.0/UserManagement_Backend.RazorAssemblyInfo.cache
/UserManagement_Backend/UserManagement_Backend/obj/Debug/net6.0/UserManagement_Backend.csproj.AssemblyReference.cache
/UserManagement_Backend/UserManagement_DAL/obj/Debug/net6.0/UserManagement_DAL.csproj.AssemblyReference.cache
/UserManagement_Backend/UserManagement_Backend/obj/Debug/net6.0/staticwebassets/msbuild.UserManagement_Backend.Microsoft.AspNetCore.StaticWebAssets.props
/UserManagement_Backend/UserManagement_Backend/obj/Debug/net6.0/staticwebassets.development.json
/UserManagement_Backend/UserManagement_Backend/obj/Debug/net6.0/scopedcss/projectbundle/UserManagement_Backend.bundle.scp.css
/UserManagement_Backend/UserManagement_Backend/obj/Debug/net6.0/staticwebassets.pack.json
/UserManagement_Backend/UserManagement_Backend/obj/Debug/net6.0/scopedcss/bundle/UserManagement_Backend.styles.css
/UserManagement_Backend/UserManagement_Backend/obj/Debug/net6.0/scopedcss/Pages/Shared/_Layout.cshtml.rz.scp.css
/UserManagement_Backend/UserManagement_Backend/obj/Debug/net6.0/staticwebassets.build.json
/UserManagement_Backend/UserManagement_Backend/obj/Debug/net6.0/UserManagement_Backend.RazorAssemblyInfo.cs
/UserManagement_Backend/UserManagement_Backend/obj/Debug/net6.0/UserManagement_Backend.csproj.FileListAbsolute.txt
/UserManagement_Backend/UserManagement_Backend/obj/Debug/net6.0/UserManagement_Backend.csproj.CoreCompileInputs.cache
/UserManagement_Backend/.vs/UserManagement_Backend/FileContentIndex/1d5c0551-2962-4fb6-b862-c5566146e570.vsidx
/UserManagement_Backend/.vs/UserManagement_Backend/DesignTimeBuild/.dtbcache.v2
/UserManagement_Backend/.vs/UserManagement_Backend/FileContentIndex/c5bf35d1-bf2e-4450-aeca-4bed7d42a181.vsidx
*.dll
/UserManagement_Backend/UserManagement_DAL/bin/Debug/net6.0/UserManagement_BusinessObjects.pdb
/UserManagement_Backend/UserManagement_DAL/bin/Debug/net6.0/UserManagement_BusinessObjects.dll
/UserManagement_Backend/UserManagement_DAL/bin/Debug/net6.0/UserManagement_DAL.deps.json
/UserManagement_Backend/UserManagement_DAL/bin/Debug/net6.0/UserManagement_DAL.dll
/UserManagement_Backend/UserManagement_DAL/bin/Debug/net6.0/UserManagement_DAL.pdb
/UserManagement_Backend/UserManagement_BusinessObjects/obj/Debug/net6.0/UserManagement_BusinessObjects.pdb
/UserManagement_Backend/UserManagement_BusinessObjects/obj/Debug/net6.0/UserManagement_BusinessObjects.csproj.CoreCompileInputs.cache
/UserManagement_Backend/UserManagement_BusinessObjects/obj/Debug/net6.0/ref/UserManagement_BusinessObjects.dll
/UserManagement_Backend/UserManagement_BusinessObjects/obj/Debug/net6.0/UserManagement_BusinessObjects.dll
/UserManagement_Backend/UserManagement_BusinessObjects/bin/Debug/net6.0/UserManagement_BusinessObjects.dll
/UserManagement_Backend/UserManagement_DAL/obj/project.nuget.cache
/UserManagement_Backend/UserManagement_BusinessObjects/bin/Debug/net6.0/UserManagement_BusinessObjects.pdb
/UserManagement_Backend/UserManagement_BusinessObjects/obj/Debug/net6.0/refint/UserManagement_BusinessObjects.dll
/UserManagement_Backend/UserManagement_DAL/obj/Debug/net6.0/UserManagement_DAL.assets.cache
/UserManagement_Backend/UserManagement_Backend/obj/project.nuget.cache
/UserManagement_Backend/.vs/UserManagement_Backend/FileContentIndex/546a5f61-70df-4fb1-87fb-84cff9868f25.vsidx
/UserManagement_Backend/.vs/UserManagement_Backend/FileContentIndex/8fa066d4-116a-4699-9262-431c08c4998b.vsidx
/UserManagement_Backend/.vs/UserManagement_Backend/FileContentIndex/c805522b-88a6-4e1a-b117-57fc5513d875.vsidx
/UserManagement_Backend/.vs/UserManagement_Backend/FileContentIndex/db413bb1-ec0a-49b3-abd2-bdeffbc4fc5d.vsidx
/UserManagement_Backend/.vs/UserManagement_Backend/FileContentIndex/90d95447-a20c-4ebb-ae30-634b420fa3ec.vsidx
/UserManagement_Backend/.vs/UserManagement_Backend/FileContentIndex/dcece911-c9b1-4fcc-a3b8-05900bf92609.vsidx
/UserManagement_Backend/UserManagement_ApplicationService/bin/Debug/net6.0/UserManagement_ApplicationService.deps.json
/UserManagement_Backend/UserManagement_ApplicationService/bin/Debug/net6.0/UserManagement_ApplicationService.dll
/UserManagement_Backend/UserManagement_ApplicationService/bin/Debug/net6.0/UserManagement_ApplicationService.pdb
/UserManagement_Backend/UserManagement_DAL/obj/project.assets.json
/UserManagement_Backend/UserManagement_DAL/obj/UserManagement_DAL.csproj.nuget.g.props
